<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS}][%highlight{%-5level}][%t]\t%msg%n"/>
        </Console>
        <RollingFile name="logfile" fileName="logs/biddrd.log" filePattern="logs/biddrd-%d{yyyy-MM-dd}-%i.log.gz" maxBackupIndex="20">
            <PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS}][%-5level][%t]\t%msg%n" />
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="stdout" level="ALL"/>
            <appender-ref ref="logfile" level="INFO"/>
        </root>
    </loggers>
</Configuration>