<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS}][%-5level][%t]\t%msg%n"/>
            <!--<PatternLayout pattern="[%d{YYYY/MM/dd 0HH:mm:ss.SSS}][%-5level]\tThread-[%t]\t%m%n"/>-->
        </Console>
    </Appenders>
    <loggers>
        <Logger name="org.apache.log4j.xml" level="all"/>
        <root level="all">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
</Configuration>